/* .App {
  text-align: center;
} */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* For company name */

/* Resets start */

/* Box sizing rules */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default padding */

ul[class], ol[class] {
  padding: 0;
}

/* Remove default margin*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */

ul[class], ol[class] {
  list-style: none;
}

/* Set core body defaults */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */

img {
  max-width: 100%;
  display: block;
}

/* Resets end */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.company-name {
  font-family: 'Pacifico', cursive !important;
  padding: 1rem;
}

.lazy-header {
  background: lightcoral;
  display: inline-flex;
  flex-wrap: wrap;
}

.header-button{
  margin: 2rem;
}